p {
	color: blue;
}

a {
	color: chocolate;
}

h1,
h2,
h3 {
	color: brown;
}

#title {
	color: blue;
}

body {
}

.post {
	background-color: orange;
	padding: 10px;
	border: 5px solid gray;
}

.imagem-programacao {
	border: solid black 10px;
}

.texto-lorem {
	margin-top: 5px;
	margin-bottom: 15px;
}

h3 {
	margin-bottom: 10px;
	margin-top: 20px;
}

footer {
	background-color: black;
	margin-top: 20px;
	padding: 5px 5px;
	border: 10px solid blue;
}
